{% extends "maqueta.html" %}

{% block content %}
<div class="content-section">
    <h1>Acerca de [NombreApp] </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum hendrerit nec ipsum nec fringilla. Maecenas a purus aliquet, euismod enim quis, ullamcorper odio. 
        Sed nec facilisis nulla, vitae euismod lectus. Aliquam erat volutpat.
         Aliquam ac turpis in tellus porta fringilla vel maximus velit. 
         Pellentesque laoreet, orci dictum porta congue, lorem turpis dignissim nulla, eget placerat quam mi vitae ante. 
         Etiam consectetur faucibus porta. Pellentesque ultricies justo vitae lacus efficitur viverra. 
         Nunc at purus eu eros ullamcorper tempor et sit amet arcu.</p>
</div>
{% endblock %}