{% extends "maqueta.html" %}

{% block content %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc semper sem nulla, ac egestas lorem accumsan sed. Curabitur imperdiet massa nec aliquet laoreet. Ut in urna sed magna vehicula sodales. 
Sed et felis dui. Fusce sed lacus quis nulla pretium cursus. Morbi pellentesque tristique neque nec rutrum. 
Integer nec nulla ut libero bibendum ultricies. Ut vitae tortor arcu. Aliquam hendrerit, nunc id laoreet bibendum, ligula nulla egestas mi, a rhoncus augue massa id augue. Ut quis erat porta velit mollis convallis.
Ut consequat nisi id mauris lobortis, varius fringilla turpis venenatis.
    {% include 'topologia_flask.html' %}
{% endblock %}